.banner {
  height: 389px;
  background-color: #6786a6;
  background-image: url('../../img/bg-back-mobile@1x.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  &--inner-page {
    height: 158px;
  }
}

.banner__image {
  display: block;
  margin: 0 auto;
}
