.button {
  display: block;

  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  color: @button-font-color;
  background-color: @button-bg-color;
  text-transform: uppercase;

  border: none;
}
