.comments {
  margin-bottom: 35px;
  padding: 0 20px;

  text-align: center;
}

.comments__header {
  margin-bottom: 17px;

  .section-header__title {
    margin-bottom: 25px;
  }

  .section-header__intro {
    line-height: 24px;
  }
}

.comments__legend {
  margin-bottom: 5px;
  padding-top: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @main-font-color;
}

.comments__fields-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .ul-normalize;
}

.comments__fields-item {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  &--tel::after,
  &--email::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    width: 58px;
    height: 58px;

    background-color: @input-icon-bg-color;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--tel::after {
    background-image: url("../../img/icon-phone.svg");
  }

  &--email::after {
    background-image: url("../../img/icon-mail.svg");
  }
}

.comments__fieldset {
  position: relative;

  width: 100%;
  margin: 0;
  padding: 15px 0 25px;

  border: none;

  &--impression,
  &--landmarks {
    padding: 20px 0 28px;
  }

  &--impression {
    .comments__fields-item {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--landmarks {
    .comments__fields-list {
      margin-top: -5px;
    }

    .comments__fields-item {
      margin-bottom: 23px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--contacts {
    .comments__legend {
      margin-bottom: 5px;
    }

    .comments__fields-item {
      flex-direction: column;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .comments__label {
      margin-bottom: 7px;
      margin-left: 22px;
      padding: 0;
    }
  }

  &--landmarks,
  &--emotions {
    .comments__legend {
      margin-bottom: 0;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;

    width: 320px;
    height: 1px;

    background-color: @gallery-wrapper-bg-color;
    transform: translateX(-50%);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;

    display: none;
  }

  &:last-child::after {
    display: block;
  }
}

// .comments__fieldset--landmarks {
//   padding-bottom: 0;

//   .comments__fields-item {
//     margin-bottom: 32px;
//   }

//   &:last-child {
//     margin-bottom: 0;
//   }
// }

.comments__input,
.comments__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;

  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @main-font-color;

  background-color: @input-bg-color;
  border: 4px solid transparent;

  &--tel,
  &--email {
    padding-right: 60px;
  }

  &::placeholder {
    color: @main-font-color;
  }

  &:hover {
    background-color: @input-hover-bg-color;
  }

  &:focus {
    background-color: @input-focus-bg-color;
    border: 4px solid @input-hover-bg-color;
  }
}

.comments__label {
  margin-right: 15px;
  padding: 15px 0;

  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: @paragraph-font-color;

  sup {
    position: relative;
    top: -0.1em;

    font-size: 90%;
    vertical-align: baseline;
  }

  &--checkbox,
  &--radio {
    position: relative;

    margin-right: 0;
    padding: 15px 0;
    padding-left: 80px;

    font-weight: 700;
    font-size: 18px;
    color: @main-font-color;
    text-transform: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 56px; //потом проверить
      height: 56px;

      background-color: @gallery-wrapper-bg-color;
    }
  }
}

.comments__label--radio {
  &::before {
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 17px;

    display: none;
    width: 22px;
    height: 22px;

    background-color: @paragraph-font-color;
    border-radius: 50%;
  }
}

.comments__label--checkbox {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 16px;

    display: none;
    width: 24px;
    height: 16px;
    margin-top: -8px;

    background-image: url("../../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.comments__input + .comments__label--radio,
.comments__input + .comments__label--checkbox {
  &:hover::before,
  &:focus::before {
    background-color: @input-hover-bg-color;
  }

  &:active::before {
    background-color: @checkbox-active-bg-color;
  }
}

.comments__input:checked + .comments__label--radio,
.comments__input:checked + .comments__label--checkbox {
  &::after {
    display: block;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.comments__button {
  width: 280px;
  margin: 20px auto 0;
  padding: 16px;

  cursor: pointer;
}

.comments__footnote {
  display: none;
}

@media (min-width: @tablet-width) {
  .comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px 60px;
  }

  .comments__header {
    order: -2;
    width: 440px;
    margin-bottom: 75px;

    .section-header__title {
      margin-bottom: 30px;

      font-size: 30px;
    }
  }

  .comments__fieldset {
    border-top: 1px solid @gallery-wrapper-bg-color;

    &::before,
    &::after,
    &:last-child::after {
      display: none;
    }

    .comments__legend {
      width: 400px;
      padding: 0;
    }

    .comments__fields-item {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .comments__fieldset--impression {
    order: -1;
    width: 43%;

    border: none;

    .comments__legend {
      width: auto;
      margin-bottom: 45px;

      text-align: left;
    }

    // .comments__fields-item {
    //   margin-bottom: 20px;
    // }

    &::after {
      content: "";
      position: absolute;
      top: 2%;
      left: 116%;

      display: block;
      width: 1px;
      height: 292px;

      background-color: @gallery-wrapper-bg-color;
    }
  }

  .comments__fieldset--name {
    width: 41%;
    margin-bottom: 45px;

    border: none;

    .comments__legend {
      width: auto;
      margin-bottom: 45px;

      text-align: left;
    }
  }

  .comments__fieldset--contacts {
    margin-bottom: 5px;

    .comments__legend {
      margin-bottom: 10px;
    }

    .comments__fields-list {
      margin-bottom: 25px;
    }

    .comments__fields-item {
      margin-bottom: 23px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .comments__fieldset--landmarks {
    margin-bottom: 10px;
    padding-right: 33px;
    padding-left: 96px;

    .comments__legend {
      margin-bottom: 26px;
    }

    .comments__fields-list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .comments__fields-item {
      width: 50%;
      margin-bottom: 30px;
    }
  }

  .comments__fieldset--emotions {
    margin-bottom: 25px;

    .comments__legend {
      margin-bottom: 42px;
    }
  }

  .comments__legend {
    font-size: 21px;
  }

  .comments__button {
    width: 50%;
    margin: 0;
  }

  .comments__footnote {
    display: block;
    padding: 16px 0;

    color: @paragraph-font-color;
  }
}

@media (min-width: @desktop-width) {
  .comments {
    margin-bottom: 45px;
    padding-right: 120px;
    padding-left: 120px;
  }

  .comments__header {
    width: 100%;
    margin-bottom: 60px;

    .section-header__intro {
      width: 440px;
      margin: 0 auto;
    }
  }

  .comments__fieldset {
    .comments__legend {
      margin-bottom: 40px;
    }
  }

  .comments__fieldset--impression {
    width: 400px;

    &::after {
      top: 2%;
      left: 120%;
    }

    .comments__legend {
      padding-left: 35px;

      text-align: center;
    }
  }

  .comments__fieldset--name {
    width: 400px;
  }

  .comments__fieldset--contacts {
    margin-bottom: 3px;

    .comments__legend {
      margin-bottom: 59px;
    }

    .comments__fields-list {
      flex-direction: row;
    }

    .comments__fields-item {
      flex-direction: row;
      align-items: flex-start;
      width: 50%;
      margin-bottom: 0;

      &--tel {
        width: 400px;
      }
    }

    .desktop-none {
      display: none;
    }

    .comments__label {
      margin: 0;
      margin-right: 16px;
      padding: 15px 0;

      white-space: nowrap;
    }
  }

  .comments__fieldset--landmarks {
    margin-bottom: 40px;
    padding: 0;

    .comments__legend {
      margin-bottom: 44px;
    }

    .comments__fields-list {
      justify-content: space-between;
    }

    .comments__fields-item {
      width: auto;
    }
  }
}
