.comments {
  padding: 40px 0 50px;
}

.comments__header {
  padding: 35px 0 15px;
}

.comments__fieldset-list {
  .ul-normalize;
}

.comments__fieldset-item {
  padding: 25px 0;

  text-align: center;
}

.comments__fieldset {
  border: none;
}

.comments__legend {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @main-font-color;
}

.comments__fields-list {
  .ul-normalize;
}

.comments__label {
  font-size: 14px;
  line-height: 26px;
  color: @paragraph-font-color;
}

.comments__label--checkbox,
.comments__label--radio {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @main-font-color;
  text-transform: none;
}

.comments__input,
.comments__textarea {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @main-font-color;

  &::placeholder {
    color: @main-font-color;
  }
}

.comments__button {
  width: 280px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 16px;

  cursor: pointer;
}
