.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  font-size: 14px;
  line-height: 26px;
  color: @main-font-color;

  svg {
    width: 100%;
    height: 100%;
  }

  &:hover path,
  &:focus path {
    fill: #81b3d2;
  }

  &:active path {
    fill: #b2b2b2;
  }
}
