.features {
  padding: 5px 0;
}

.features__list {
  .ul-normalize;
}

.features__item {
  padding: 30px 0;
}

.features__item-title {
  .titles;
}

.features__detail {
  margin: 0;
  color: #333333;
}
