.features {
  padding: 35px 0;

  color: @main-font-color;

  background-color: @main-bg-color;
}

.features__list {
  .ul-normalize;
}

.features__item {
  position: relative;

  margin-bottom: 28px;
  padding-right: 20px;
  padding-left: 70px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 22px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.features__item--housing {
  &::before {
    width: 37px;
    height: 36px;

    background-image: url("../img/icon-house.svg");
  }
}

.features__item--souvenirs {
  &::before {
    width: 32px;
    height: 38px;

    background-image: url("../img/icon-gift.svg");
  }
}

.features__item--food {
  &::before {
    width: 40px;
    height: 35px;

    background-image: url("../img/icon-burger.svg");
  }
}

.features__item-title {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.features__detail {
  margin: 0;

  line-height: 21px;
  color: @paragraph-font-color;
}

@media (min-width: @tablet-width) {
  .features {
    padding: 65px 0;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__item {
    box-sizing: border-box;
    width: 33%;
    margin: 0;
    padding: 0 45px;
    padding-top: 95px;

    text-align: center;

    &::before {
      top: 0;
      left: 50%;

      transform: translateX(-50%);
    }
  }

  .features__item-title {
    margin-bottom: 20px;

    font-size: 21px;
  }

  .features__item--housing {
    &::before {
      width: 75px;
      height: 72px;
    }
  }

  .features__item--souvenirs {
    order: 1;

    &::before {
      width: 64px;
      height: 75px;
    }
  }

  .features__item--food {
    &::before {
      width: 77px;
      height: 68px;
    }
  }
}

@media (min-width: @desktop-width) {
  .features {
    padding-bottom: 85px;
  }

  .features__item {
    padding-right: 55px;
    padding-left: 55px;
  }
}
