.map {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.map__marker {
  position: absolute;
  top: 45%;
  left: 45%;
}

.map__image {
  height: 350px;
}

@media (min-width: @tablet-width) {
  .map {
    width: 100%;
  }

  .map__marker {
    left: 48%;
  }

  .map__image {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: 1200px;
  }

  .map__marker {
    top: 47%;
    left: 49%;
  }

  .map__image {
    width: 1200px;
  }
}
