.map {
  width: 320px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .map {
    width: 100%;
    // margin-bottom: 20px;
  }

  .map__image {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: 1200px;
  }

  .map__image {
    width: 1200px;
  }
}

