.page-footer {
  padding: 25px 0 30px;
  text-align: center;
}

.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.page-footer__social {
  margin-top: 35px;
  margin-bottom: 45px;
}
