.page-footer {
  padding: 25px 0 30px;
  text-align: center;
}

.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.page-footer__social {
  margin-top: 35px;
  margin-bottom: 45px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 648px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  //
}
