.reasons {
  width: 100%;
  padding: 35px 0;
}

.reasons__header {
  margin-bottom: 10px;
}

.reasons__list {
  .ul-normalize;
  background-color: @reasons-bg-color;
}

.reasons__item {
  text-align: center;
}

.reasons__item-title {
  .titles;
}

.reasons__number,
.reasons__detail {
  margin: 0;
  color: @paragraph-font-color;
}

.reasons__wrapper {
  padding: 25px 0;
}

.reasons__item--with-image {
  background-color: @reasons-with-image-bg-color;
  padding-bottom: 0;

  .reasons__item-title,
  .reasons__number,
  .reasons__detail {
    color: @reasons-with-image-font-color;
  }

  .reasons__wrapper {
    padding: 35px 0;
  }
}

.reasons__image {
  display: block;
  //margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .reasons__list {
    display: flex;
    flex-wrap: wrap;
  }

  .reasons__item {
    height: 255px;

    &--with-image {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &--first {
      flex-direction: row;
    }
  }

  .reasons__image {
    width: 67%;
  }

  .reasons__wrapper {
    width: 33%;
  }
}

@media (min-width: @desktop-width) {
  //
}
