.video {
  margin-bottom: 50px;
}

.video__header {
  padding: 0 23px;
  margin-bottom: 33px;

  .section-header__title {
    margin-bottom: 25px;
  }

  .section-header__intro {
    line-height: 24px;
  }
}
