@main-font-color: #000000;
@paragraph-font-color: #333333;
@main-bg-color: #ffffff;

@reasons-bg-color: #eeeeee;
@reasons-with-image-font-color: #ffffff;
@reasons-with-image-bg-color: #81b3d2;

@gallery-wrapper-bg-color: #f2f2f2;
@gallery-wrapper-alt-bg-color: #eaeaea;

@button-font-color: #ffffff;
@button-bg-color: #81b3d2;

@link-hover-bg-color: #669ec0;
@link-active-color: rgba(0, 0 ,0, 0.3);
@link-active-bg-color: #5496bd;
@link-current-color: #766357;
@link-current-hover-color: #604e43;
@link-current-active-color: rgba(118,99,87,0.3);

@button-disabled-bg-color: #e5e5e5;

@tablet-width: 768px;
@desktop-width: 1200px;
